@import "custom";
@import "~bootstrap/scss/bootstrap";

.header {
  text-align: center;
}

.navbar-theme-btn{
  background-color: white;
  color: black;
//  &:hover{
//    background-color: black;
//    color: white;
//  }
}

.workouts-box{
  background-color: black;
  border-radius: 0.5rem;
}